<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/StyleAll.css' %}">
    </head>
    <body id="add">
    <nav class="navbar navbar-expand-sm bg-color navbar-dark fixed-top">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="#">
			<img src="{% static 'images/ocitlogo.png' %}" alt="logo" style="width:50px;">
		</a>
			
		<!-- Links -->
		<div class = "collapse navbar-collapse justify-content-end">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:about' %}">About</a>
				</li>
				<li class="nav-item">

					<a class="nav-link" href="{% url 'homepage:education' %}">Education & Experience</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{% url 'homepage:gallery' %}">Portofolio</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'schedule:sched_list' %}">Schedule</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
    
    <div class="containerAdd">
        <h2 id="titleAdd">New Schedule</h2>
        <form method="POST" class="post-form form-group">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
    </body>
</html>