<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/StyleAll.css' %}">
	
</head>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<body>
	<nav class="navbar navbar-expand-sm bg-color navbar-dark fixed-top">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="#">
			<img src="{% static 'images/ocitlogo.png' %}" alt="logo" style="width:50px;">
		</a>
			
		<!-- Links -->
		<div class = "collapse navbar-collapse justify-content-end">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:about' %}">About</a>
				</li>
				<li class="nav-item">

					<a class="nav-link" href="{% url 'homepage:education' %}">Education & Experience</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{% url 'homepage:gallery' %}">Portofolio</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'schedule:sched_list' %}">Schedule</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
    <div>
    <h1 class="schedTitle">My Schedules</h1>
	<div id="rectangle1"></div>
    </div>
    
	<div id="list">
		{% for sched in schedules %}
		<div class="container">
			<div class="row row-striped">
				<div class="col-2 text-right">
					<h1 class="display-4"><span class="badge badge-secondary">{{sched.getTanggal}}</span></h1>
					<h2 class="bulannya">{{sched.getBulan}}</h2>
				</div>
			<div class="col-7">
				<h3 class="text-uppercase"><strong>{{sched.namaKegiatan}}</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{sched.getHari}}</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{sched.tanggal}}</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{sched.lokasi}}</li>
				</ul>
			</div>
			{% if user.is_authenticated %}
				<div class="col-3">
					<form action="{% url 'schedule:delete_schedule' sched.id %}" method="post" style="display:inline;">
					{% csrf_token %}
					<input type="hidden" name="sched_id" value"{{ sched.id }}"/>
					<button id="deletee" type="submit" class="btn btn-default btn-sm">Delete
					</button>
					</form>
				</div>
			{% endif %}
			
		</div>
	</div>  
  
{% endfor %}
</div>
{% if user.is_authenticated %}
<div class="page-header">
	<a href="{% url 'schedule:new_schedule' %}" class="btn">Add Schedule</a>
</div>
{% endif %}

</body>
</html>