*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: black;
}
@media screen and (max-width: 600px){
    body,html{
        margin: 0px;
        width: 100%;
        height: 100%;
        
    }
    .navbar{
        background: black;
    }
    .Home{
        margin: 0px;
        background: url("/static/images/Background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
    }

    

    #Home-overlay{
        padding-top: 60%;
    }
    
    .slideup{
        font-weight: lighter;
        text-align: center;
        color: white;
        font-size: 35px;
        margin-bottom: 0;
    }
    
    #ocit{
        text-align: center;
        font-weight: lighter;
        font-size: 40pt;
        padding-top: 5px;
        color:whitesmoke;
    }
    .social{
        position: absolute;
        padding-top: 100px;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    
    .social ul{
        list-style: none;
        width: 300px;
        height: 80px;
    }
    
    .social ul a li {
        width: 35px;
        height: 35px;
        float: left;
        border: 3px solid white;
        margin-right: 36px;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    
    ul a li .fab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 15px;
        transition: all 0.5s ease;
    }
    
    .social ul li:hover{
        background: #fff;
        box-shadow: 0 0 30px 3px #fff;
    }
    
    ul li:hover .fab{
        color: black;
        transition: all 0.5s ease;
    }
    
    #About-title{
        position: relative;
        padding-top: 75px;
    }
    #About-title img{
        width: 150px;
        height: 200px;
        top: 75px;
        position: absolute;
        left: 30%;
        animation-delay: 0.5;
    }

    #About{
        background-color: aliceblue;
        margin-top: 0%;
        height: 100%;
        width: 100%;
        position: relative;
    }
    #About-title h1{
        text-align: center;
        padding-top: 200px;
    }
    #rectangle1{
        margin: 10px auto;
        position: relative;
        width: 200px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    #About-title p{
        padding: 30px;
        text-align: center;
        top:300px;
        font-size:15px;
    }

    #Education-title{
        text-align: center;
        font-size: 10pt;
    }
    
    #rectangle2{
        position: absolute;
        left: 8%;
        width: 300px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    
    #riwayat{
        position: absolute;
        top: 25%;
        left: 15%;
    
    }
    #Education-title h1{
        text-align: center;
        padding-top: 80px;
        font-size: 20pt;
    }
    
    #riwayat ul{
        list-style: none;
        padding-top: 30%;
        padding-left: 10%;
    }
    #riwayat ul li{
        display: block;
        height: 30px;
        font-size: 15px;
        text-align: center;
    }
    
    
    #keterangan{
        text-align: center;
        color: #F99900;
        font-size: 12px;
    }
    
    #pengalaman{
        position: absolute;
        top: 60%;
        left: 60%;
    }
    
    #pengalaman ul{
        list-style: none;
    }
    
    #pengalaman ul li{
        font-size: 22px;
        text-align: center;
    }
}

@media screen and (min-width: 601px){
    body,html{
        margin: 0px;
        width: 100%;
        height: 100%;
        
    }
    .Home{
        margin: 0px;
        background: url("/static/images/Background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
    }
    
    .slideup{
        font-weight: lighter;
        text-align: center;
        color: white;
        padding-top: 250px;
        font-size: 50px;
        margin-bottom: 0;
    }
    
    #ocit{
        text-align: center;
        font-weight: lighter;
        font-size: 60pt;
        padding-top: 5px;
        color:whitesmoke;
    }
    .social{
        position: absolute;
        padding-top: 150px;
        left: 53.7%;
        transform: translate(-50%, -50%);
    }
    
    .social ul{
        list-style: none;
        width: 400px;
        height: 80px;
    }
    
    .social ul a li {
        width: 55px;
        height: 55px;
        float: left;
        border: 3px solid           white;
        margin-right: 36px;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    
    ul a li .fab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20pt;
        transition: all 0.5s ease;
    }
    
    .social ul li:hover{
        background: #fff;
        box-shadow: 0 0 30px 3px #fff;
    }
    
    ul li:hover .fab{
        color: black;
        transition: all 0.5s ease;
    }
    
    #About-title{
        position: relative;
        padding-top: 75px;
    }
    #About-title img{
        width: 200px;
        height: 270px;
        top: 120px;
        position: absolute;
        left: 37.55%;
        animation-delay: 0.5;
    }

    #About{
        background-color: aliceblue;
        margin-top: 0%;
        height: 100%;
        width: 100%;
        position: relative;
    }
    #About-title h1{
        text-align: center;
        padding-top: 325px;
        font-size: 50pt;
    }
    #rectangle1{
        position: absolute;
        left: 28.5%;
        width: 325px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    #About-title p{
        padding: 30px;
        text-align: center;
        top:300px;
        font-size: 25px;
    }
}

@media screen and (min-width: 769px){
    body,html{
        margin: 0px;
        width: 100%;
        height: 100%;
        
    }
    .Home{
        margin: 0px;
        background: url("/static/images/Background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
    }

    #Home-overlay{
        padding-top: 0px;
    }
    
    .slideup{
        font-weight: lighter;
        text-align: center;
        color: white;
        font-size: 50px;
        margin-bottom: 0;
    }
    
    #ocit{
        text-align: center;
        font-weight: lighter;
        font-size: 60pt;
        padding-top: 5px;
        color:whitesmoke;
    }

    #Education{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    #Contact{
        background-color: #F99900;
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    #Gallery{
        height: 100%;
        width: 100%;
        position: relative;
    }
    .social{
        position: absolute;
        padding-top: 150px;
        left: 52%;
        transform: translate(-50%, -50%);
    }
    
    .social ul{
        list-style: none;
        width: 400px;
        height: 80px;
    }
    
    .social ul a li {
        width: 55px;
        height: 55px;
        float: left;
        border: 3px solid           white;
        margin-right: 36px;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    
    ul a li .fab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20pt;
        transition: all 0.5s ease;
    }
    
    .social ul li:hover{
        background: #fff;
        box-shadow: 0 0 30px 3px #fff;
    }
    
    ul li:hover .fab{
        color: black;
        transition: all 0.5s ease;
    }

    #About-title{
        position: relative;
        padding-top: 75px;
    }
    
    #About-title img{
        width: 200px;
        height: 270px;
        top: 120px;
        position: absolute;
        left: 43.55%;
        animation-delay: 0.5;
    }
    #About{
        background-color: aliceblue;
        margin-top: 0%;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    #About-title h1{
        text-align: center;
        padding-top: 325px;
        font-size: 30pt;
    }
    #rectangle1{
        position: relative;
        left: 43.40%;
        width: 200px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    #About-title p{
        padding: 30px;
        text-align: center;
        top:300px;
        font-size: 20px;
    }

    #Education-title{
        padding-top: 105px;
        text-align: center;
    }
    
    #rectangle2{
        position: absolute;
        left: 35.40%;
        width: 443px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    
    #riwayat{
        position: absolute;
        top: 25%;
        left: 15%;
    
    }
    
    #riwayat ul{
        list-style: none;
        padding-top: 30%;
    }
    #riwayat ul li{
        display: block;
        height: 100px;
        font-size: 22px;
        text-align: center;
    }
    
    
    #keterangan{
        text-align: center;
        color: #F99900;
        font-size: 15px;
    }
    
    #pengalaman{
        position: absolute;
        top: 60%;
        left: 60%;
    }
    
    #pengalaman ul{
        list-style: none;
    }
    
    #pengalaman ul li{
        font-size: 22px;
        text-align: center;
    }
    #Contact .social{
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
    }
    
    #Contact .social ul{
        list-style: none;
        width: 800px;
        height: 100px;
    }
    
    #Contact .social ul a li {
        width: 120px;
        height: 120px;
        float: left;
        border: 3px solid white;
        margin-right: 36px;
        border-radius: 70px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    
    #Contact .social ul a li .fab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 65px;
        transition: all 0.5s ease;
    }
    
    #Contact .social ul li:hover{
        background: #fff;
        box-shadow: 0 0 30px 3px #fff;
    }
    
    #Contact .social ul li:hover .fab{
        color: #F99900;
        transition: all 0.5s ease;
    }
    
    #Contact h1{
        padding-top: 240px;
        text-align: center;
        color: white;
    }
    
    #rectangle3{
        position: absolute;
        left: 42%;
        width: 240px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    #Gallery h1{
        padding-top: 100px;
        text-align: center;
        color: black;
    }
    
    #rectangle4{
        position: absolute;
        left: 43.35%;
        width: 200px;
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }
    .photo1 {
        position: absolute;
        left: 5%;
        top: 35%;
    }
    
    .photo2{
        position: absolute;
        left: 36.5%;
        top: 35%;
    }
    
    .photo3{
        position: absolute;
        left: 68%;
        top: 35%;
    }

    .navbar{
        background: black;
    }
    
    .row-striped:nth-of-type(odd){
        background-color: #efefef;
        border-left: 4px #000000 solid;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        width: 100%;
    }
      
    .row-striped:nth-of-type(even){
        background-color: #ffffff;
        border-left: 4px #efefef solid;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        width: 100%;
    }

    .container{
        width: 100%;
    }
      
    .row-striped {
        padding: 10px 0;
    }
    
    #list{
        padding-top: 20px;
    }
    .col-10{
        padding-top: 8px;
    }
    
    .page-header{
        padding-top: 25px;
        padding-bottom: 50px;
        
    }

    .page-header a{
        position: absolute;
        left: 50%;
        width: 250px;
        font-size: 20px;
        float: left;
        border: 2px solid #F99900;
        margin-right: 100px;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
        color: #F99900;
        margin-bottom: 20px;
        
    }
    .page-header a:hover{
        background : #F99900;
        box-shadow: 0 0 20px 2px #F99900;
        color: white;
    }
    #deletee{
        border: 3px solid black;
        border-radius: 10px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 80%;
        height: 50%;
        transition: all 0.5s ease;
        font-size: 20px;
    }
    
    #deletee:hover{
        background: black;
        border: 0px;
        color: #efefef;
        box-shadow: 0 0 10px 2px black;
        transition: all 0.5s ease;
    }


    .list-inline{
        position: absolute;
    }
    .col-7{
        padding-top: 25px;
        padding-left: 25px;
    }
    .schedTitle{
        text-align: center;
        padding-top: 100px;
        font-size: 30pt;
    }
    #rectangle1{
        position: absolute;
        left: 50%;
        width: 275px;
        transform: translate(-50%, -50%);
        height: 3px;
        border: 1px;
        background: #F99900;
        border-radius: 50px;
        border: 2px solid #F99900;
    }

    .containerAdd{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    #add{
        background: #F99900;
    }

    .post-form{
        padding-top: 25px;
    }
    button{
        padding-top: 50px;
    }
    .save{
        border: 2px solid white;
        border-radius: 10px;
        margin: 0;
        color: white;
        width: 100px;
        transition: all 0.5s ease;
        font-size: 20px;
    }

    .save:hover{
        background:white;
        border: 0px;
        color: #F99900;
        box-shadow: 0 0 10px 2px white;
        transition: all 0.5s ease;
    }

    #list{
        margin-bottom: 20px;
    }
}


