<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/StyleAll.css' %}">
    <script src="https://kit.fontawesome.com/629da8d65b.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-color navbar-dark fixed-top">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/ocitlogo.png' %}" alt="logo" style="width:50px;">
            </a>
                
            <!-- Links -->
            <div class = "collapse navbar-collapse justify-content-end">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'homepage:education' %}">Education & Experience</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'homepage:gallery' %}">Portofolio</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'schedule:sched_list' %}">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div id="Education">
        <div id="Education-title">
            <h1>Education & Experience</h1>
            <div id="rectangle2"></div>
        </div>

        <div id="riwayat">
            <ul>
                <li>SDIT Nurul Falah</li>
                <li>SMP Negeri 1 Kota Bekasi</li>
                <li>SMA Negeri 5 Kota Bandung</li>
                <li>Universitas Indonesia<p id="keterangan">Fakultas Ilmu Komputer</p></li>
            </ul>
        </div>

        <div id="pengalaman">
            <ul>
                <li>ScaleUp.id (Now Levilo.id)<p id="keterangan">Internship as Video Editor & Graphic Designer</p></li>
            </ul>
        </div>
    </div>
</body>
</html>